# Tutorial 1 

how to select cells

In [6]:
import pandas as pd
import numpy as np

In [7]:
data =np.arange(0,10).reshape(5,2)
data

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [8]:
# convert to dataframe
df = pd.DataFrame(data=data, columns=["1", "2"])
df

   1  2
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9